#titulo {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitulo {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 220px;
}